#counter_debug, #infinite_counter_debug{
	font-size: 500%;
	float:left;
	position:fixed;
	display:inline;
}

#infinite_counter_debug{
	top:60px;
}

#example {
    width: 100%;
}

#example .showIfNoApi {
    display: none;
}

#example #visualisation {
    height: 255px;
    position: relative;
    margin: 10px;
    -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255,255,255,0.2)));
}

#example #visualisation > div {
    width: 2.5%;
    background-color:blue;
    display: inline-block;
    position: absolute;
    bottom: 0px;
}

/*Centering CSS*/
.centered_div {
	margin: auto;
}


#visualizer_space{
	/*DIMENSIONS FOR VISUALIZER*/
	width:300px;
    height:300px;
    position:relative; /*just so that visualizer_space is the containing block for absolutely positioned child elements*/
}

	.visual_image{
		width:100%;
	    height:100%;
	    display: block;
	    position:absolute;
	    -webkit-filter:invert(0%); /*need this so the JS invert_change_color() function works initially*/
	    z-index: -1;
	}

	#image1{
		z-index: 0; /*set this to be visible image to start*/	
		border:0px;
	}

	.rectangle{
		background-color: black;
		margin: auto;
		position:absolute;
		visibility: hidden;
	}

	.vertical_rectangle{
		height:90%;
		top:5%;
	}

	.cross_rectangle{
		position:absolute;
		visibility:visible;
		width:0%;
		height:5%;
		background-color:black;
	}


#soundcloud_attribution_container{
	position:absolute;
	top:160px;
	color:black;
}
	
	#soundcloud_attribution{
		visibility: hidden;
	}

#audio_container audio{
	width:100%;
    position: relative;
}

/*Search Box CSS*/

#search_form_div{
	width:60%;
	text-align: center;
}

	#search_form{
		width:100%;
	}

	#search_input{
		font-size: 200%;
	}

	#search_form_submit_button{
		margin-top:5px;
	}

	#search_results_space{
		text-align: left;
	}

	#search_results_list{
		padding:0px;
	}

	.search_result{
		cursor: pointer; 
		cursor: hand;
	}

	.search_result:hover{
		background-color: #80ccff;
	}



